@{
    ViewData["Title"] = "Home Page";
}


<!-- Customized Bootstrap Stylesheet -->
<link href="~/css/bootstrap.min.css" rel="stylesheet">

<!-- Template Stylesheet -->
<link href="~/css/style.css" rel="stylesheet">

<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h1 class="display-1 text-uppercase text-dark mb-lg-4">Feed your dog as well as yourself.</h1>
                <h1 class="text-uppercase text-orange mb-lg-4">Real food*Freshly cooked*Delivered to your door.</h1>
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                    <a href="" class="btn btn-outline-light border-2 py-md-3 px-md-5 me-5">Start Today</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
