@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container-left">
        <div class="row justify-content-start">
            <div class="col-lg-5 text-center text-lg-start offset-1">
                <h1 class="display-1 text-uppercase text-dark mb-lg-5">Feed your dog as well as yourself.</h1>
                <h1 class="text-uppercase text-orange mb-lg-0">Real food</h1>
                <h1 class="text-uppercase text-orange mb-lg-0">Freshly Cooked</h1>
                <h1 class="text-uppercase text-orange mb-lg-0">Delivered to your door</h1>
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                    <a href="/questionnaire" class="btn btn-outline-light border-2 py-md-3 px-md-5 me-5">Start Today</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
