@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Start -->
      <main>
        <div class="hero">
          <div class="hero-content">
            <div class="hero-text">
              <div class="hero-text-inner">
                <h1>Feed your dog as well as yourself.</h1>
                <br />
                <h2>Real food • Freshly cooked • Delivered to your door</h2>
                <button href="/questionnaire" class="btn btn-primary">
                  Start Today
                </button>
              </div>
            </div>
            <div class="hero-img">
              <!-- <picture>
              <source
                media="(min-width:1024px)"
                type="image/png"
                srcset="/img/mobile-ai-dog.webp"
              />
              <source
                media="(min-width:0px)"
                type="image/webp"
                srcset="/img/mobile-ai-dog.webp"
              />
              <source
                media="(min-width:1024px)"
                type="image/jpg"
                srcset="/img/mobile-hero-img.jpg"
              />
              <source
                media="(min-width:0px)"
                type="image/jpg"
                srcset="/img/mobile-ai-dog.jpg"
              />
              <img alt="Dog looking in the distance." class="hero-img" />
            </picture> -->
            </div>
          </div>
        </div>
      </main>
<!-- Hero End -->
<aside>
        <section id="selling-points">
          <h3>Our dogs deserve to eat just as healthy as we do.</h3>
          <p>
            Just as you, we want the best for our pets so they can lead a long
            and healthy life. That's why we created Wild Paws - a service that
            delivers balanced, freshly cooked pet food, using recipes created by
            professional pet nutritionists, and prepared with love.
          </p>
          <div class="points__grid-wrapper">
            <div class="points__wrapper">
              <h4>Using Real Food</h4>
              <p>
                We use only Human-grade meat and veggies in all of our recipes
              </p>
            </div>
            <div class="points__wrapper">
              <h4>FDA Licensed Kitchens</h4>
              <p>Safety and top quality above the standard for pets</p>
            </div>

            <div class="points__wrapper">
              <h4>Made Fresh</h4>
              <p>Using fresh products to maintain nutritional integrity</p>
            </div>

            <div class="points__wrapper">
              <h4>Vet Developed</h4>
              <p>
                Recipes created by pet nutritionists according to official
                standards for dogs(AAFCO)
              </p>
            </div>
          </div>
        </section>
      </aside>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
