@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Start -->
      <main>
         <div class="hero-content">
            <div class="hero-text">
                <p>
                <h1>Feed your dog as well as yourself.</h1>
                </p>
                <h2>Real food • Freshly cooked • Delivered to your door</h2>
                <a class="btn btn-primary">
                  Start Today
                </a>
            </div>
            <div class="hero-img">
              <!-- <picture>
              <source
                media="(min-width:1024px)"
                type="image/png"
                srcset="/img/mobile-ai-dog.webp"
              />
              <source
                media="(min-width:0px)"
                type="image/webp"
                srcset="/img/mobile-ai-dog.webp"
              />
              <source
                media="(min-width:1024px)"
                type="image/jpg"
                srcset="/img/mobile-hero-img.jpg"
              />
              <source
                media="(min-width:0px)"
                type="image/jpg"
                srcset="/img/mobile-ai-dog.jpg"
              />
              <img alt="Dog looking in the distance." class="hero-img" />
            </picture> -->
            </div>
          </div>
      </main>
<!-- Hero End -->
<aside>
        <section id="selling-points">
          
          <h3>Our dogs deserve to eat just as healthy as we do.</h3>
          <p>
            Just as you, we want the best for our pets so they can lead a long
            and healthy life. That's why we created Wild Paws - a service that
            delivers balanced, freshly cooked pet food, using recipes created by
            professional pet nutritionists, and prepared with love.
          </p>
          <div class="points__grid-wrapper">
            <div class="points__wrapper">
              <h4>Using Real Food</h4>
              <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 576 512"><path d="M327.1 96c-89.97 0-168.54 54.77-212.27 101.63L27.5 131.58c-12.13-9.18-30.24.6-27.14 14.66L24.54 256 .35 365.77c-3.1 14.06 15.01 23.83 27.14 14.66l87.33-66.05C158.55 361.23 237.13 416 327.1 416 464.56 416 576 288 576 256S464.56 96 327.1 96zm87.43 184c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24 13.26 0 24 10.74 24 24 0 13.25-10.75 24-24 24z"/></svg>
              <p>
                We use only Human-grade meat and veggies in all of our recipes
              </p>
            </div>
            <div class="points__wrapper">
              <h4>FDA Licensed Kitchens</h4>
              <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 640 512">
                  <path d="M106.66,170.64l.09,0,49.55-20.65a7.32,7.32,0,0,0,3.68-6h0a7.29,7.29,0,0,0-3.68-6l-49.57-20.67-.07,0L86,67.68a6.66,6.66,0,0,0-11.92,0l-20.7,49.63-.05,0L3.7,138A7.29,7.29,0,0,0,0,144H0a7.32,7.32,0,0,0,3.68,6L53.27,170.6l.07,0L74,220.26a6.65,6.65,0,0,0,11.92,0l20.69-49.62ZM471.38,467.41l-1-.42-1-.5a38.67,38.67,0,0,1,0-69.14l1-.49,1-.43,37.49-15.63,15.63-37.48.41-1,.47-.95c3.85-7.74,10.58-13.63,18.35-17.34,0-1.33.25-2.69.27-4V144a32,32,0,0,0-64,0v72a8,8,0,0,1-8,8H456a8,8,0,0,1-8-8V64a32,32,0,0,0-64,0V216a8,8,0,0,1-8,8H360a8,8,0,0,1-8-8V32a32,32,0,0,0-64,0V216a8,8,0,0,1-8,8H264a8,8,0,0,1-8-8V64a32,32,0,0,0-64,0v241l-23.59-32.49a40,40,0,0,0-64.71,47.09L229.3,492.21A48.07,48.07,0,0,0,268.09,512H465.7c19.24,0,35.65-11.73,43.24-28.79l-.07-.17ZM349.79,339.52,320,351.93l-12.42,29.78a4,4,0,0,1-7.15,0L288,351.93l-29.79-12.41a4,4,0,0,1,0-7.16L288,319.94l12.42-29.78a4,4,0,0,1,7.15,0L320,319.94l29.79,12.42a4,4,0,0,1,0,7.16ZM640,431.91a7.28,7.28,0,0,0-3.68-6l-49.57-20.67-.07,0L566,355.63a6.66,6.66,0,0,0-11.92,0l-20.7,49.63-.05,0L483.7,426a7.28,7.28,0,0,0-3.68,6h0a7.29,7.29,0,0,0,3.68,5.95l49.57,20.67.07,0L554,508.21a6.65,6.65,0,0,0,11.92,0l20.69-49.62h0l.09,0,49.55-20.66a7.29,7.29,0,0,0,3.68-5.95h0Z"/></svg>
              <p>Safety and top quality above the standard for pets</p>
            </div>

            <div class="points__wrapper">
              <h4>Made Fresh</h4>
              <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512">
                  <path d="M298.2 156.6c-52.7-25.7-114.5-10.5-150.2 32.8l55.2 55.2c6.3 6.3 6.3 16.4 0 22.6-3.1 3.1-7.2 4.7-11.3 4.7s-8.2-1.6-11.3-4.7L130.4 217 2.3 479.7c-2.9 6-3.1 13.3 0 19.7 5.4 11.1 18.9 15.7 30 10.3l133.6-65.2-49.2-49.2c-6.3-6.2-6.3-16.4 0-22.6 6.3-6.2 16.4-6.2 22.6 0l57 57 102-49.8c24-11.7 44.5-31.3 57.1-57.1 30.1-61.7 4.5-136.1-57.2-166.2zm92.1-34.9C409.8 81 399.7 32.9 360 0c-50.3 41.7-52.5 107.5-7.9 151.9l8 8c44.4 44.6 110.3 42.4 151.9-7.9-32.9-39.7-81-49.8-121.7-30.3z"/></svg>
              <p>Using fresh products to maintain nutritional integrity</p>
            </div>

            <div class="points__wrapper">
              <h4>Vet Developed</h4>
              <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512">
                  <path d="M320.2 243.8l-49.7 99.4c-6 12.1-23.4 11.7-28.9-.6l-56.9-126.3-30 71.7H60.6l182.5 186.5c7.1 7.3 18.6 7.3 25.7 0L451.4 288H342.3l-22.1-44.2zM473.7 73.9l-2.4-2.5c-51.5-52.6-135.8-52.6-187.4 0L256 100l-27.9-28.5c-51.5-52.7-135.9-52.7-187.4 0l-2.4 2.4C-10.4 123.7-12.5 203 31 256h102.4l35.9-86.2c5.4-12.9 23.6-13.2 29.4-.4l58.2 129.3 49-97.9c5.9-11.8 22.7-11.8 28.6 0l27.6 55.2H481c43.5-53 41.4-132.3-7.3-182.1z"/></svg>
              <p>
                Recipes created by pet nutritionists according to official
                standards for dogs(AAFCO)
              </p>
            </div>
          </div>
        </section>
      </aside>

