    <!-- Navbar Start -->
 <div class="top-background">
        <a href="/questionnaire"
          >Get 20% off on your first purchase!
          <span class="call-to-action">REDEEM NOW</span></a
        >
      </div>
      <header id="top">
        <a href="/" class="logo">
          <img src="./img/Logo.jpg" />
        </a>
          <a href="#" id="mainMenuOpen"
            ><svg
              class="hamburger"
              xmlns="http://www.w3.org/2000/svg"
              width="50"
              height="50"
              viewBox="0 0 25 25"
              fill="none"
            >
              <path d="M4.5 7.5H25.5" stroke-width="3" stroke-linecap="round" />
              <path d="M4.5 15H25.5" stroke-width="3" stroke-linecap="round" />
              <path
                d="M4.5 22.5H25.5"
                stroke-width="3"
                stroke-linecap="round"
              /></svg
          ></a>
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/contactus">Contact Us</a></li>
              <partial name="_LoginPartial" />
            </ul>
          </nav>
      </header>
           
            @*<a class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5">Login<i class="bi bi-arrow-right"></i></a>*@
<!-- Navbar End -->




