@{
    ViewData["Title"] = "Home Page of area ADMIN";
}


<!-- Customized Bootstrap Stylesheet -->
<link href="~/css/bootstrap.min.css" rel="stylesheet">

<!-- Template Stylesheet -->
<link href="~/css/style.css" rel="stylesheet">


<div class="text-center">
    <h1 class="display-4">Welcome to Admin area</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
