@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="img/about.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="border-start border-5 border-primary ps-5 mb-5">
                        <h6 class="text-primary text-uppercase">About Us</h6>
                        <h1 class="display-5 text-uppercase mb-0">A Well Fed Dog Is A Happy Dog!</h1>
                    </div>
                    <h4 class="text-body mb-4">We create fresh balanced and nutritionally appropriate food for your best friend! And we do it with passion!</h4>
                    <div class="bg-light p-4">
                        <ul class="nav nav-pills justify-content-between mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item w-50" role="presentation">
                                <button class="nav-link text-uppercase w-100 active" id="pills-1-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1"
                                    aria-selected="true">Our Mission</button>
                            </li>
                            <li class="nav-item w-50" role="presentation">
                                <button class="nav-link text-uppercase w-100" id="pills-2-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2"
                                    aria-selected="false">Our Vission</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                                <p class="mb-0">We believe in a world where our lovely pets have a longer healthy life and that the way to do it is through improving their diet. With our recipes, even the busiest of people can provide tasty fresh food that is tailored specially for their dog’s needs.</p>
                            </div>
                            <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                                <p class="mb-0">We want the best for all dogs and after countless research we came to the conclusion that dry, highly processed food really isn't the best thing we can do. Our goal is to bring knowledge to all pet owners and teach the importance of good food in order for our pets to have a long and healthy life! Dogs lifespans aren't as long as ours but we can make sure to make them happy and keep them with us for as long as we can. This all starts with the dogs diet and we are confident we have found the "secret" to it!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Offer Start -->
    <div class="container-fluid bg-offer my-5 py-5">
        <div class="container py-5">
            <div class="row gx-5 justify-content-start">
                <div class="col-lg-7">
                    <div class="border-start border-5 border-dark ps-5 mb-5">
                        <h6 class="text-dark text-uppercase">The beginning of</h6>
                        <h1 class="display-5 text-uppercase text-white mb-0">Our Story</h1>
                    </div>
                    <p class="text-white mb-4">Our story starts with our three furbabies called Whiskey, Stormi and Nyx. Like any other pet owner, our visits to the vets weren’t new but 
when those visits start being more and more regular, you start questioning yourself - “Am I doing the best for my dog?” “ What am I doing wrong?”</p>
                  <p class="text-white mb-4">Here’s when we started looking into their diets and we realized the food we were giving our pets may not give our dogs all the nutrients they need and that there are so many other healthier options that were not the typical ‘Dog Food’ or ‘Kibble.’Do we know what’s in most commercial pet food? Are the ingredients presented on the package quality ingredients? How many percent of real meat is in it? Sure, most kibble has some nutritional value and is convenient to use and most people have been feeding their pets kibble for decades but what about cooked food? </p>
                  <p class="text-white mb-4">That is why we decided to ask vets and pet nutritionists for their professional help to find out if cooked food is a better alternative for our dogs. However, cooking food for our pets was expensive and very time consuming. We tried looking for companies that would offer cooked pet food that also has customized meal package services but there seemed to be none available in Thailand.</p>
                  <p class="text-white mb-4">We started working with a pet nutritionist to create the perfect recipes for our dogs that are nutritionally balanced and contain real, natural fresh human-grade ingredients. Besides this, to understand what a dog’s complete diet consists of, the benefits pets could get from each ingredient and how much food our pets need to consume per day to live their life to the fullest. This is when our learning experience turned into what Wild Paws is today.</p>
<a href="" class="btn btn-light py-md-3 px-md-5 me-3">Start Now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Offer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>
</body>

</html>
