@using WildPaws.Core.Models
@model QuestionnaireViewModel
@{
    ViewData["Title"] = "Questionnaire";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
    <partial name="_ValidationScriptsPartial" />

</head>

<body>

    <!-- Form Start -->
    <div class="container-fluid py-5">
        <div>
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100 background-color-sec">
                        <form id="questionnaireForm" class="form-select-sm" asp-action="SubmitForm" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row g-3">
                                <div class="form-group">
                                    <label asp-for="Name"><h4>What is your dog's name?*</h4></label>
                                    <input asp-for="Name" type="text" class="col-form-label bg-light border-0 px-5" style="height: 35px;">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Breed"><h4>What is your dog's breed?*</h4></label>
                                    <input asp-for="Breed" type="text" class="col-form-label bg-light border-0 px-5" style="height: 35px;">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Weight"><h4>How much does your dog weight?*</h4></label>
                                    <input asp-for="Weight" type="text" class="col-form-label bg-light border-0 px-5" style="height: 35px;">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Age"><h4>Age:*</h4></label>
                                    <select asp-for="Age" class="form-control select2bs4" style="width: 5%;">
                                        <option selected="selected">1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                        <option>15</option>
                                        <option>16</option>
                                        <option>17</option>
                                        <option>18</option>
                                        <option>19</option>
                                        <option>20</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Gender"><h4>Gender:*</h4></label>
                                    <select asp-for="Gender" class="form-control select2bs4" style="width: 15%;">
                                        <option selected="selected">Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="IsSpayed"><h4>Is your dog spayed?*</h4></label>
                                    <select asp-for="IsSpayed" class="form-control select2bs4" style="width: 10%;">
                                        <option selected="selected" value="false">No</option>
                                        <option value="true">Yes</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BodyStatus"><h4>Body status:*</h4></label>
                                    <select asp-for="BodyStatus" class="form-control select2bs4" style="width: 10%;">
                                        <option>Underweight</option>
                                        <option>Normal</option>
                                        <option>Overweight</option>
                                        <option>Obese</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ActivityLevel"><h4>How active is your dog?*</h4></label>
                                    <select asp-for="ActivityLevel" class="form-control select2bs4" style="width: 10%;">
                                        <option>Not very active (Primarily stays at home)</option>
                                        <option>Active (Often taken for walkies and regular play time)</option>
                                        <option>Very active (Dog lives outdoors where it runs all day or taken or long walks for few hours a day)</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CurrentFoodType"><h4>What food is your dog currently eating?*</h4></label>
                                    <select asp-for="CurrentFoodType" class="form-control select2bs4" style="width: 10%;">
                                        <option>Dry food (Kibble or freezedried)</option>
                                        <option>Wet food</option>
                                        <option>Raw food</option>
                                        <option>Cooked food</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TreatsAndScraps"><h4>Do you give your dog treats or scraps?*</h4></label>
                                    <select asp-for="TreatsAndScraps" class="form-control select2bs4" style="width: 10%;">
                                        <option>Rarely</option>
                                        <option>Some treats and/or scraps</option>
                                        <option>A lot of treats and/or scraps</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="HasHealthIssues"><h4>Does your dog have any health issues?*</h4></label>
                                    <select asp-for="HasHealthIssues" class="form-control select2bs4" style="width: 10%;">
                                        <option value="false">No</option>
                                        <option value="true">Yes</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Comment"><h4>Would you like to add any comment?</h4></label>
                                    <div>
                                        <row>
                                        <input asp-for="Comment" type="text" class="col-form-label bg-light border-0 px-5" style="height: 135px; width: 395px;">
                                        </row>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Continue</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Offer Start -->
    <div class="container-fluid bg-offer my-5 py-5">
        <div class="container py-5">
            <div class="row gx-5 justify-content-start">
                <div class="col-lg-7">
                    <div class="border-start border-5 border-dark ps-5 mb-5">
                        <h6 class="text-dark text-uppercase">Special Offer</h6>
                        <h1 class="display-5 text-uppercase text-white mb-0">Save 50% on all items your first order</h1>
                    </div>
                    <p class="text-white mb-4">Eirmod sed tempor lorem ut dolores sit kasd ipsum. Dolor ea et dolore et at sea ea at dolor justo ipsum duo rebum sea. Eos vero eos vero ea et dolore eirmod et. Dolores diam duo lorem. Elitr ut dolores magna sit. Sea dolore sed et.</p>
                    <a href="" class="btn btn-light py-md-3 px-md-5 me-3">Shop Now</a>
                    <a href="" class="btn btn-outline-light py-md-3 px-md-5">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Offer End -->
    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h6 class="text-primary text-uppercase">Team Members</h6>
                <h1 class="display-5 text-uppercase mb-0">Qualified Pets Care Professionals</h1>
            </div>
            <div class="owl-carousel team-carousel position-relative" style="padding-right: 25px;">
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/team-1.jpg" alt="">
                        <div class="team-overlay">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-twitter"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-facebook"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="text-uppercase">Full Name</h5>
                        <p class="m-0">Designation</p>
                    </div>
                </div>
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/team-2.jpg" alt="">
                        <div class="team-overlay">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-twitter"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-facebook"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="text-uppercase">Full Name</h5>
                        <p class="m-0">Designation</p>
                    </div>
                </div>
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/team-3.jpg" alt="">
                        <div class="team-overlay">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-twitter"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-facebook"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="text-uppercase">Full Name</h5>
                        <p class="m-0">Designation</p>
                    </div>
                </div>
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/team-4.jpg" alt="">
                        <div class="team-overlay">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-twitter"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-facebook"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="text-uppercase">Full Name</h5>
                        <p class="m-0">Designation</p>
                    </div>
                </div>
                <div class="team-item">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/team-5.jpg" alt="">
                        <div class="team-overlay">
                            <div class="d-flex align-items-center justify-content-start">
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-twitter"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-facebook"></i></a>
                                <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light text-center p-4">
                        <h5 class="text-uppercase">Full Name</h5>
                        <p class="m-0">Designation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>
</body>

</html>
